<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.tcf.te.tcf.launch.type.remote.app">
<stringAttribute key="org.eclipse.debug.core.source_locator_memento" value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#13;&#10;&lt;sourceLookupDirector&gt;&#13;&#10;&lt;sourceContainers duplicates=&quot;false&quot;&gt;&#13;&#10;&lt;container memento=&quot;AbsolutePath&quot; typeId=&quot;org.eclipse.cdt.debug.core.containerType.absolutePath&quot;/&gt;&#13;&#10;&lt;container memento=&quot;programRelativePath&quot; typeId=&quot;org.eclipse.cdt.debug.core.containerType.programRelativePath&quot;/&gt;&#13;&#10;&lt;container memento=&quot;&amp;lt;?xml version=&amp;quot;1.0&amp;quot; encoding=&amp;quot;UTF-8&amp;quot; standalone=&amp;quot;no&amp;quot;?&amp;gt;&amp;#13;&amp;#10;&amp;lt;project referencedProjects=&amp;quot;true&amp;quot;/&amp;gt;&amp;#13;&amp;#10;&quot; typeId=&quot;org.eclipse.cdt.debug.core.containerType.project&quot;/&gt;&#13;&#10;&lt;/sourceContainers&gt;&#13;&#10;&lt;/sourceLookupDirector&gt;&#13;&#10;"/>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
</listAttribute>
<stringAttribute key="org.eclipse.tcf.te.launch.UUID" value="2611961d-7007-4252-80b2-e6c0547f65ee"/>
<stringAttribute key="org.eclipse.tcf.te.launch.file_transfers" value="&lt;fileTransfers&gt;&#10;&#9;&lt;fileTransfer type=&quot;org.eclipse.tcf.te.runtime.services.interfaces.filetransfer.IFileTransferItem&quot;&gt;&#10;&#9;&#9;{&#10;  &quot;__VariablesMap__&quot;: {&#10;    &quot;WORKSPACE_LOC&quot;: &quot;C:/Users/ES1001/eclipse-workspace&quot;&#10;  },&#10;  &quot;direction&quot;: &quot;1&quot;,&#10;  &quot;enabled&quot;: true,&#10;  &quot;host&quot;: &quot;\u003cWORKSPACE_LOC\u003e/Onboard/IOT2000 Release/Onboard&quot;,&#10;  &quot;options&quot;: &quot;&quot;,&#10;  &quot;target&quot;: &quot;/home/root/Mindsphere/onboard&quot;,&#10;  &quot;target-string&quot;: &quot;/home/root/Mindsphere/onboard&quot;&#10;}&#10;&#9;&lt;/fileTransfer&gt;&#10;&lt;/fileTransfers&gt;&#10;"/>
<stringAttribute key="org.eclipse.tcf.te.launch.lastLaunched" value="1552406751038"/>
<stringAttribute key="org.eclipse.tcf.te.launch.launch_contexts" value="&lt;contexts&gt;&#10;&#9;&lt;context type=&quot;org.eclipse.tcf.protocol.IPeer&quot;&gt;&#10;&#9;&#9;{&#10;  &quot;Host&quot;: &quot;192.168.200.3&quot;,&#10;  &quot;ID&quot;: &quot;88d359a7-5049-4d80-9ba8-03523de3d647&quot;,&#10;  &quot;Name&quot;: &quot;TCF Agent&quot;,&#10;  &quot;Port&quot;: &quot;1534&quot;,&#10;  &quot;TransportName&quot;: &quot;TCP&quot;,&#10;  &quot;autoConnect&quot;: &quot;true&quot;&#10;}&#10;&#9;&lt;/context&gt;&#10;&lt;/contexts&gt;&#10;"/>
<booleanAttribute key="org.eclipse.tcf.te.tcf.processes.core.process_attach_children" value="true"/>
<stringAttribute key="org.eclipse.tcf.te.tcf.processes.core.process_image" value="/home/root/Mindsphere/onboard"/>
<booleanAttribute key="org.eclipse.tcf.te.tcf.processes.core.process_stop_at_main" value="true"/>
</launchConfiguration>
